 h1{
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #E4E0E1;
        }
        #head{
            background-color: #AB886D;
            border-radius: 10px;
        }
        #coffee{
            display: flex;
            justify-content: center;
        }
